/* Основной текст #212121 */
/* вторичный текст #757575 */
/* основной фон #FFFFFF */
/* вторичный фон #EEEEEE */
/* текст порфолио #F5F4FA */
/* вставки #2196F3 */
:root {
  --primary-text-color: #212121;
  --title-text-color: #757575;
  --accent-color: #2196f3;
  --main-background: #ffffff;
  --secondary-background: #eeeeee;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--primary-text-color);
  background-color: #ffffff;
}

/* sate nav */
.site-nav .text-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.07;
  color: #212121;
}

.auth-nav .text-link {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.07;
}
/* навигация */
.text-link:hover,
.text-link:focus {
  color: var(--accent-color);
}
li {
  list-style-type: none;
  /* Убираем маркеры */
}
/* logo */
.logoweb {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
}
.logostudio {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: #000;
}
.logostudioblack {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--main-background);
}
.list {
  list-style: none;
}
a {
  text-decoration: none;
}

/* hero */
.heading {
  background-color: #2f303a;
}
.hero-titele {
  color: var(--main-background);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
}
.button {
  color: var(--title-text-color);
  background-color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 2;
  letter-spacing: 0.03em;
  cursor: pointer;
  border: 0;
  position: auto;
  width: 200px;
  height: 50px;
}

.button:hover {
  background: var(--accent-color);
  border-radius: 4px;
  color: var(--main-background);
}
/* section */
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  background-color: #ffffff;
}

/* section commands */
.section-commands {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
}
.section-subject {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  background-color: #f5f4fa;
}
.section-text {
  ont-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.18;
  color: var(--title-text-color);
}
.description {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
}
.direction {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;
  color: var(--title-text-color);
}
/* features */
.feature-list-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
}
.feature-list-text {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  color: var(--title-text-color);
}
/* Footer */
.text-footer {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  color: var(--main-background);
}
.text-communication {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
}
