/* Основной текст #212121 */
/* вторичный текст #757575 */
/* основной фон #FFFFFF */
/* вторичный фон #EEEEEE */
/* текст порфолио #F5F4FA */
/* вставки #2196F3 */
body {
  font-family: "Roboto", sans-serif;
  color: #212121;
  background-color: white;
}
/* sate nav */
.site-nav .text-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.07;
}

.auth-nav .text-link {
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.07;
}
.text-link:hover,
.text-link:focus {
  color: #2196f3;
}
/* logo */
.logoweb {
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  color: #2196f3;
}
.logostudio {
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  color: #000;
}
.logostudioblack {
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  color: #ffffff;
}
.list {
  list-style: none;
}


/* hero */
.heading {
  background-color: #2f303a;
}
.hero-titele {
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
}
.box {
color: var(--title-text-color);
background-color: #ffffff;
  font-weight: bold;
  font-size: 16px;
  line-height: 2;
  letter-spacing: 0.03em;
  cursor: pointer;
  border: 0;
position: auto;
}


.box:hover {
background: #2196F3;
box-shadow: 0px 4px 4px #000000,
border-radius: 4px;
color: var(--white);

}
/* section */
.section-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.07;
  background-color: #ffffff;
}
/* section commands */
.section-commands {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
}
.section-subject {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  background-color: #f5f4fa;
}
.section-text {
  ont-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.18;
  color: #757575;
}
.description {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
}
.direction {
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 1.87;
color: #757575;
}
/* features */
.feature-list-title {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
}
.feature-list-text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  color: #757575;
}
/* Footer */
.text-footer {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  color: #ffff;
}
.text-communication {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
}
